In [1]:
import pandas as pd #데이터분석
import numpy as np #행렬이나 일반적으로 대규모 다차원 배열을 처리
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime #타임스탬프가 특정시간으로나오게

In [2]:
data = pd.read_excel('data.xlsx')#연습용xlsx
#data = pd.read_excel('O_Retail.xlsx')
data[0:10]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
4,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
5,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
6,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
7,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom

In [3]:
#데이터 송장기준으로 분류 완료!

value=[]
value1=[]
value2=[]
dir={}

No = data['InvoiceNo']
for i in range(0,len(No)):
    value2.append(data['StockCode'][i])
    value2.append(data['Description'][i])
    value2.append(data['Quantity'][i])
    value2.append(data['UnitPrice'][i])
    if (i == len(No)-1) or (No[i] != No[i+1]):
        value.append(data['InvoiceDate'][i])
        value.append(data['CustomerID'][i])
        value.append(data['Country'][i])
        dir[No[i]]=value+[value2]
        print(No[i],dir[No[i]])
        value=[]
        value2=[]
        print("/")
    else:
        pass;
print(dir)

536365 [Timestamp('2010-12-01 08:26:00'), 17850, 'United Kingdom', ['85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6, 2.55, 71053, 'WHITE METAL LANTERN', 6, 3.39, '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, 2.75]]
/
536366 [Timestamp('2010-12-01 08:28:00'), 17850, 'United Kingdom', [22633, 'HAND WARMER UNION JACK', 6, 1.85, 22632, 'HAND WARMER RED POLKA DOT', 6, 1.85]]
/
536367 [Timestamp('2010-12-01 08:34:00'), 13047, 'United Kingdom', [84879, 'ASSORTED COLOUR BIRD ORNAMENT', 32, 1.69, 22745, "POPPY'S PLAYHOUSE BEDROOM ", 6, 2.1, 22748, "POPPY'S PLAYHOUSE KITCHEN", 6, 2.1]]
/
{536365: [Timestamp('2010-12-01 08:26:00'), 17850, 'United Kingdom', ['85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6, 2.55, 71053, 'WHITE METAL LANTERN', 6, 3.39, '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, 2.75]], 536366: [Timestamp('2010-12-01 08:28:00'), 17850, 'United Kingdom', [22633, 'HAND WARMER UNION JACK', 6, 1.85, 22632, 'HAND WARMER RED POLKA DOT', 6, 1.85]], 536367: [Timestamp('2010-12-01 08:34:00'), 13047, 'United Kingdom', [84879, 'ASSORTED COLOUR BIRD ORNAMENT', 32, 1.69, 22745, "POPPY'S PLAYHOUSE BEDROOM ", 6, 2.1, 22748, "POPPY'S PLAYHOUSE KITCHEN", 6, 2.1]]}

In [29]:
#여기서부터 다시 수정하기
#수정해야할 내용 : 두번째에서 4나누어서 불러와야하는 부분 수정하기!
#지금 원하는 데이터만 불러오는 작업을 할 예정이다.

#dir[key][순번]= 하나씩불러오는 방법
# key = 송장
# 첫번째 = 송장시간, 고객번호, 국가 0 1 2 
# 두번째 = 제품번호, 상세 내용, 양, 단가 3.1,2,3,4- 이 순서대로 반복 -> 4로 나누어서 불러오면 될듯

# 송장과 고객번호, 제품번호만 불러오기

for i in list(dir.keys()):
    print("/")
    print(i)
    #print(dir[i][0])
    #0- 시간, 1- 고객번호, 2- 국가
    """"""
    for j in range(0,len(dir[i][3])) :
        if (j%4==3):
            if(j%4==1):#상세내용은 분리가 필요함 ->상세 데이터 분석을 위함.\n",
                dir[i][3][j].split(' ')
                print(dir[i][3][j].split(' '))
            else :
                print("/", dir[i][3][j])
                pass;
                #0-제품번호, 1-상세내용, 2-양, 3-단가
""""""

/
536365
/ 2.55
/ 3.39
/ 2.75
/
536366
/ 1.85
/ 1.85
/
536367
/ 1.69
/ 2.1
/ 2.1

''

In [ ]:
#여기서부터다시수정하기 - 그래프
#데이터분석의 결과를 보일 곳!